/* common shared styles */
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  .btn-primary{
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    padding: 15px 35px;
  }
  /* text style */
.text-primary{
    color:#FD6E0A;
}  
/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    
}
.banner.profile-pic{
    width: 500px;
}
.banner-greting{
    color:#474747;
    font-size: 45px;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.banner-content{

}
/* Main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    
}
.section-description{
    color:#757575;
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do{
    padding: 30px 150px;
}